.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Jugemu{

  font-family: 'Comfortaa'
}
h1.Jugemu {
  color: #B9314F;
  
}
h2.Jugemu {
  color: #B9314F
}
h3.Jugemu {
  color: #026c7c
}
.navbar-light {
  color:#026c7c;
}
a.Jugemu.navbar-brand {
  color: #b9314f
}
a.Jugemu.nav-link {
  color:#026c7c;
}
p.Jugemu {
  color: #0D1821
}
a.Jugemu {
  color: #026c7c;
}
div.jumbotron.Jugemu {
  background-color: #026c7c;
}
.homecenter {
  text-align: center;
  font-family: 'Comfortaa';
 
}
.icon {
  height: 30px;
}

body{
  background-color: #FEF9FF;
}
.whitestuff {
  color: #B9314F;
  margin:15px;
}
.logo {
  height: 120px; 
  text-align: center;
  
}

.starthome {
  border-radius: 15px;
  padding: 32px;  
  border: 1px solid #f6ae2d;
}


p {
  font-family: 'Open Sans';
}

h3 {
  font-family: 'Comfortaa'
}


.btn-startbut {
  
  color: #B9314F;
  border: 1px solid #f6ae2d

}
.btn-startbut:hover {
  color:#026c7c;
}

.nav-link {
  color: rgba(0,0,0,.7);
}
.nav-link:hover {
  color: #B9314F
}
.dropdown-item {
  background-color: #FEF9FF;
}
.dropdown-menu {
  background-color: #FEF9FF;
}
.pageheader{
  background-color: #FEF9FF;
  z-index: 4;

}
.blueline {
  background-color: #026c7c;
  height: 30px;
}

.whitetext {
  color:#FEF9FF
}
.footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height:60px;
  padding: 10px;
  
}
